body {
  margin-top: 3%;
  text-align: center;
  background-color: rgb(49, 12, 85);
}

h1 {
  font-size: 45px;
  margin-bottom: 3%;
  color: white;
}

h3 {
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: rgb(98, 251, 98);
}
